<app-header-main></app-header-main>
<header>
  <h1>¡Nuestro proceso!</h1>
</header>

<div class="gallery">
  <div class="gallery-item">
      <img src="../../assets/img/proceso1.jpg" alt="Imagen asegurar limpieza">
      <div class="image-caption"><h1 style="text-align: center;">¡Higiene es salud!</h1></div>
  </div>
  <div class="gallery-item">
      <img src="../../assets/img/proceso2.jpg" alt="Imagen 2">
      <div class="image-caption"><h1 style="text-align: center;">¡Calidad de principio a fin!</h1></div>
  </div>
  <!-- <div class="gallery-item">
      <img src="imagen3.jpg" alt="Imagen 3">
      <div class="image-caption">Título de la Imagen 3</div>
  </div> -->
  <!-- Agrega más div.gallery-item según sea necesario -->
</div>
  
<app-footer-main></app-footer-main>
