<app-header-main></app-header-main>
<section class="food_section layout_padding-bottom">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>
       ¡Nuestros Productos!
      </h2>
    </div>
    <div class="filters-content">
      <div class="row grid">
        <div class="col-sm-6 col-lg-4" *ngFor="let data of product">
          <div class="box">
            <div>
              <div class="img-box">
                <img src="{{data.image.url}}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  {{data.name}}
                </h5>
                <p>
                  {{data.description}}
                </p>
                <div class="options">
                  <h6>
                    $ {{data.price}} MXN
                  </h6>
                  <a (click)="addShoppingCar(data)">
                    <svg routerLink="/shopping-car" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-cart-fill" viewBox="0 0 16 16">
                      <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                  </svg>
                    </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer-main></app-footer-main>