<app-header-main></app-header-main>

<div id="myCarousel" class="carousel slide" data-bs-ride="carousel" *ngIf="data">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../assets/img/carrusel2.png" class="d-block w-100 custom-carousel-img" alt="Slide 1">
      <div class="carousel-caption">
        <h1>Cro Cains</h1>
        <p>{{ data.description }}</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../assets/img/carrusel3.webp" class="d-block w-100 custom-carousel-img" alt="Slide 2">
      <div class="carousel-caption">
        <h1>Nuestra Misión</h1>
        <h5>{{ data.mision }}</h5>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../assets/img/carrusel4.jpg" class="d-block w-100 custom-carousel-img" alt="Slide 3">
      <div class="carousel-caption">
        <h1>Nuestra Visión</h1>
        <p>{{ data.vision }}</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Siguiente</span>
  </button>
</div>










<!-- Sección de productos -->


<section class="food_section layout_padding-bottom">
  <div class="container" *ngIf="cargando">
    <div class="heading_container heading_center">
      <div class="filters-content">
        <h3>Cargando productos...</h3>
        <img src="../../assets/img/spinner2.gif" class="img-fluid" alt="cargando información...">
      </div>
    </div>
  </div>


  <div class="container" *ngIf="!cargando">
    <div class="heading_container heading_center">
      <h2>
        ¡Nuestros Productos!
      </h2>
    </div>
    <div class="filters-content">
      <div class="row grid">
        <div class="col-sm-6 col-lg-4" *ngFor="let data of threeProducts">
          <div class="box">
            <div>
              <div class="img-box">
                <img src="{{data.image.url}}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  {{data.name}}
                </h5>
                <p>
                  {{data.description}}
                </p>
                <div class="options">
                  <h6>
                    $ {{data.price}} MXN
                  </h6>
                  <!-- <a href="" (click)="">

                      </a> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-box">
      <a href="/productos">
        Ver más
      </a>
    </div>
  </div>
</section>







<!-- Sección de aplicación móvil -->

<section class="about_section layout_padding">
  <div class="container  ">

    <div class="row">
      <div class="col-md-6 ">
        <div class="img-box">
          <img src="../../assets/img/aplicacion.png" alt="">
        </div>
      </div>
      <div class="col-md-6">
        <div class="detail-box">
          <div class="heading_container">
            <h2>
              ¡Descarga nuestra aplicación!
            </h2>
          </div>
          <ul class="list-unstyled custom-list my-4">
            <li class="appCaracte">* Recordatorio de tiempos de comida para tus caninos</li>
            <li class="appCaracte">* Calculadora de porciones de comida</li>
            <li class="appCaracte">* Increíble impacto visual</li>
            <li class="appCaracte">* Portable en tu celular</li>
          </ul>
          <a href="https://play.google.com/store/apps/details?id=com.canis.crocaniz">
            ¡Quiero probarla!
          </a>
        </div>
      </div>
    </div>
  </div>
</section>


<!--
  Sección para contactarnos -->

<section class="book_section layout_padding">
  <div class="container">
    <div class="heading_container">
      <h2>
        ¡Contáctanos!
      </h2>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form_container">
          <form [formGroup]="contactForm" (ngSubmit)="onCreateContact()">
            <div class="row"[class.error]="contactForm.get('name').dirty && contactForm.get('name').hasError('required')">
              
                <div class="form-group">
                  <label class="text-black" for="name">Nombre completo</label>
                  <input formControlName="name" type="text" class="form-control" id="name">
                  <h6 *ngIf="contactForm.get('name').touched && contactForm.get('name').hasError('required')"
                  class="error-message">* Campo obligatorio</h6>
                  <h6 *ngIf="contactForm.get('name').hasError('onlyLetters')"
                  class="error-message">Solo se permiten letras y espacios</h6>
                </div>

              </div>
          
              <div [class.error]="contactForm.get('phone').touched && (contactForm.get('phone').hasError('required') || contactForm.get('phone').hasError('onlyNumbers'))">
                <div class="form-group">
                  <label class="text-black" for="phone">Teléfono</label>
                  <input formControlName="phone" type="text" class="form-control" id="phone">
                  <h6 *ngIf="contactForm.get('phone').touched && contactForm.get('phone').hasError('required')"
                    class="error-message">Campo obligatorio, los caracteres son mínimo y máximo 10</h6>
                  <h6 *ngIf="contactForm.get('phone').hasError('onlyNumbers')"
                    class="error-message">Solo se permiten números</h6>
                </div>
              </div>
           
            <div class="form-group">
              <label class="text-black" for="email">Correo electrónico</label>
              <input formControlName="email" type="email" class="form-control" id="email">
              <h6 *ngIf="contactForm.get('email').touched && contactForm.get('email').hasError('required')"
                class="error-message">* Campo obligatorio</h6>
              <h6 *ngIf="contactForm.get('email').touched && contactForm.get('email').hasError('email')"
                class="error-message">* Ingrese un correo electrónico válido</h6>
            </div>

            <div class="form-group mb-5">
              <label class="text-black" for="message">Mensaje</label>
              <textarea formControlName="message" name="" class="form-control" id="message" cols="30"
                rows="5"></textarea>
                <h6 *ngIf="contactForm.get('message').touched && contactForm.get('message').hasError('required')"
                class="error-message">* Campo obligatorio, como mínimo 10 y hasta 100 caracteres</h6>
            </div>

            <button type="submit" class="btn btn-primary-hover-outline">Enviar comentario</button>

          </form>


        </div>
      </div>
      <div class="col-md-6">
        <div class="map_container ">
          <img src="../../assets/img/spinner3.gif">
        </div>
      </div>
    </div>
  </div>
</section>


<app-footer-main></app-footer-main>