<div class="hero_area">
    <div class="bg-box">
        <img src="../../assets/img/fondo.png" alt="">
    </div>
    <!-- header section strats -->
    <app-header-main></app-header-main>

    <!-- end header section -->
    <!-- slider section -->
    <section class="slider_section " *ngIf="data">
        <div id="customCarousel1" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container ">
                        <div class="row">
                            <div class="col-md-7 col-lg-6 ">
                                <div class="detail-box">
                                    <h1>
                                        Cro-Caniz
                                    </h1>
                                    <p>
                                        Somos una empresa dedicada a la fabricación de productos para perros, con
                                        ingredientes altamente validados por expertos
                                    </p>
                                    <!-- <div class="btn-box">
                                        <a href="" class="btn1">
                                            Order Now
                                        </a>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item ">
                    <div class="container ">
                        <div class="row">
                            <div class="col-md-7 col-lg-6 ">
                                <div class="detail-box">
                                    <h1>
                                        Nuestra Misión
                                    </h1>
                                    <p *ngFor="let itemMision of (data | keyvalue | slice:3:4)">
                                        {{itemMision.value}}
                                    </p>
                                    <!-- <div class="btn-box">
                      <a href="" class="btn1">
                        Order Now
                      </a>
                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container ">
                        <div class="row">
                            <div class="col-md-7 col-lg-6 ">
                                <div class="detail-box">
                                    <h1>
                                        Nuestra Visión
                                    </h1>
                                    <p *ngFor="let itemVision of (data | keyvalue | slice:4:5)">
                                        {{itemVision.value}}

                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <ol class="carousel-indicators">
                    <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
                    <li data-target="#customCarousel1" data-slide-to="1"></li>
                    <li data-target="#customCarousel1" data-slide-to="2"></li>
                </ol>
            </div>
        </div>

    </section>
    <!-- end slider section -->
</div>





<!-- Sección de productos -->


<section class="food_section layout_padding-bottom">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
         ¡Nuestros Productos!
        </h2>
      </div>
      <div class="filters-content">
        <div class="row grid">
          <div class="col-sm-6 col-lg-4" *ngFor="let data of threeProducts">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="{{data.image.url}}" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    {{data.name}}
                  </h5>
                  <p>
                    {{data.description}}
                  </p>
                  <div class="options">
                    <h6>
                      $ {{data.price}} MXN
                    </h6>
                    <!-- <a href="" (click)="">
                        
                      </a> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-box">
        <a href="">
         Ver más
        </a>
      </div>
    </div>
  </section>






  <!-- Sección de aplicación móvil -->

  <section class="about_section layout_padding">
    <div class="container  ">

      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="../../assets/img/aplicacion.png" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                ¡Descarga nuestra aplicación!
              </h2>
            </div>
            <ul class="list-unstyled custom-list my-4">
                <li class="appCaracte">* Recordatorio de tiempos de comida para tus caninos</li>
                <li class="appCaracte">* Calculadora de porciones de comida</li>
                <li class="appCaracte">* Increíble impacto visual</li>
                <li class="appCaracte">* Portable en tu celular</li>
            </ul>
            <a href="">
                ¡Quiero probarla!
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  

<!-- 
  Sección para contactarnos -->

  <section class="book_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          ¡Contáctanos!
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form_container">
            <form [formGroup]="contactForm">
                <div class="row">
                    <div class="col-6"
                        [class.error]="contactForm.get('name').dirty && contactForm.get('name').hasError('required')">
                        <div class="form-group">
                            <label class="text-black" for="name">Nombre completo</label>
                            <input formControlName="name" type="text" class="form-control" id="name">
                            <h2 *ngIf="contactForm.get('name').dirty && contactForm.get('name').hasError('required')"
                                class="error-message">Campo obligatorio</h2>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <label class="text-black" for="phone">Teléfono</label>
                            <input formControlName="phone" type="text" class="form-control" id="phone">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="text-black" for="email">Correo electrónico</label>
                    <input formControlName="email" type="email" class="form-control" id="email">
                    <h2 *ngIf="contactForm.get('email').dirty && contactForm.get('email').hasError('required')"
                        class="error-message">Campo obligatorio</h2>
                    <h2 *ngIf="contactForm.get('email').dirty && contactForm.get('email').hasError('email')"
                        class="error-message">Ingrese un correo electrónico válido</h2>
                </div>

                <div class="form-group mb-5">
                    <label class="text-black" for="message">Mensaje</label>
                    <textarea formControlName="message" name="" class="form-control" id="message" cols="30"
                        rows="5"></textarea>
                    <h2 *ngIf="contactForm.get('message').dirty && contactForm.get('message').hasError('required')"
                        class="error-message">Campo obligatorio</h2>
                </div>

                <button (click)="onCreateContact()" type="submit"
                    class="btn btn-primary-hover-outline">Enviar comentario</button>
            </form>


          </div>
        </div>
        <div class="col-md-6">
          <div class="map_container ">
           <img src="../../assets/img/perritos.png">
          </div>
        </div>
      </div>
    </div>
  </section>


  <app-footer-main></app-footer-main>