

  .custom-carousel-img {
    height: 300px; /* Ajusta la altura según tus necesidades */
    object-fit: cover; /* Evita que la imagen se deforme */
  }

  /* Agrega estilos personalizados si es necesario */
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 20px;
}


 




  