<app-header-main></app-header-main>


<div class="card" *ngIf="listShoppingCar.length > 0">
  <h3>  <strong class="text-black">Cantidad de productos: {{getTotalCantidadProductos()}}</strong></h3>
  <h3>  <strong class="text-black"> Total a pagar: $ {{getTotalSubtotales()}} MXN </strong></h3>

  <h4>Por favor, llena los campos para completar tu compra</h4>
  <div class="credit-card">
    <div>
      <div #cardInfo></div>
      <div class="error" *ngIf="cardError">
        {{cardError}}
      </div>
    </div>
    <button (click)="onClick()" type="button" class="btn btn-warning" >Pagar</button>
  </div>

</div>



<section class="food_section layout_padding-bottom" *ngIf="listShoppingCar.length > 0">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>
        Carrito de compras
      </h2>
    </div>
    <div class="filters-content">
      <div class="row grid">
        <div class="col-sm-6 col-lg-4" *ngFor="let item  of listShoppingCar; let i = index" >
          <div class="box">
            <div>
              <div class="img-box">
                <img src="{{item.item.image.url}}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  {{item.item.name}}
                </h5>

                <p>
                  {{item.item.description}}
                </p>

                <p>
                  {{getTotalCantidadProductos()}}
                </p>

                <h6>
                  $ {{item.item.price}} MXN por pieza
                </h6>


                <div class="options">

                  <p>
                    Subtotal: $ {{ calculateSubtotal(item)}} MXN
                  </p>

                  <a  (click)="removeProduct(i)" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                      <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div *ngIf="listShoppingCar.length === 0" style="text-align: center;">
  <h4>El carrito de compras está vacío. Revisa nuestros productos</h4>
  <button class="btn btn-warning" routerLink="/productos" >Revisar productos</button>
  <img src="../../assets/img/carrito_vacio.png" class="img-fluid" alt="Carrito Vacío">
</div>



<app-footer-main></app-footer-main> 