.xd{
    margin-top: 100px; 
    max-width: 1250px;
    /* margin: 0 auto; */
    display: grid;
    gap: 1rem;
    justify-items: center;
    /* justify-content: center; */
    /* align-items: center; */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}


.card{
    padding: 50px;
    align-items: center;
}
.credit-card{
    padding: 50px;
    width: 400px;
    height: 250px;
    border: 1px solid black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}