<app-header-main></app-header-main>


<div *ngIf="listShoppingCar.length > 0" class="container">
  <h2 class="mt-4 mb-4">Formulario de Venta</h2>

  <!-- Dirección -->
  <div class="row">
    <div class="col-md-6">
      <div class="mb-3">
        <label for="street" class="form-label">Calle</label>
        <input type="text" class="form-control" [(ngModel)]="street" id="street" required>
        <div *ngIf="!validateNotEmpty(street)" class="error-message"> * Campo obligatorio</div>
      </div>

      <div class="mb-3">
        <label for="number" class="form-label">Número</label>
        <input type="number" class="form-control" [(ngModel)]="number" id="number" required>
        <div *ngIf="!validateNotEmpty(number)" class="error-message"> * Campo obligatorio</div>
      </div>

      <div class="mb-3">
        <label for="colony" class="form-label">Colonia</label>
        <input type="text" class="form-control" [(ngModel)]="colony" id="colony" required>
        <div *ngIf="!validateNotEmpty(colony)" class="error-message"> * Campo obligatorio</div>
      </div>

      <div class="mb-3">
        <label for="zip_code" class="form-label">Código Postal</label>
        <input type="number" class="form-control" [(ngModel)]="zip_code" id="zip_code" required>
        <div *ngIf="!validateNotEmpty(zip_code)" class="error-message"> * Campo obligatorio</div>
      </div>
    </div>

    <!-- Selección de Países y Estados -->
    <div class="col-md-6">
      <div class="mb-3">
        <label for="selectState" class="form-label">Estado:</label>
        <select class="form-select" id="selectState" name="selectState" [(ngModel)]="selectedState" required>
          <option selected disabled>Selecciona un estado</option>
          <option *ngFor="let estado of stateResponse" [value]="estado">{{ estado }}</option>
        </select>
        <div *ngIf="!validateNotEmpty(selectedState)" class="error-message"> * Campo obligatorio</div>
      </div>

      <div class="mb-3">
        <label for="municipality" class="form-label">Ciudad:</label>
        <input type="text" class="form-control" [(ngModel)]="selectedCity" id="municipality" required>
        <div *ngIf="!validateNotEmpty(selectedCity)" class="error-message"> * Campo obligatorio</div>
      </div>
    </div>
  </div>

  <div class="card-body">
  <div class="d-flex justify-content-between align-items-center">
    <div>
      <h3 class="text-black mb-0">Productos en tu carrito:</h3>
      <p class="text-muted small">Cantidad: {{ getTotalCantidadProductos() }}</p>
    </div>
    <div>
      <h3 class="text-black mb-0">Total a pagar:</h3>
      <p class="text-muted small"> $ {{ getTotalSubtotales() }} MXN</p>
    </div>
  </div>

  <hr class="my-4">

  <div class="card-body text-center d-flex flex-column align-items-center justify-content-center">
    <!-- ... (previous code) ... -->
  
    <h4 class="mt-4 mb-3">Completa tu compra</h4>
  
    <div class="credit-card">
      <div>
        <div #cardInfo></div>
        <div class="error mt-2" *ngIf="cardError">{{ cardError }}</div>
      </div>
  
      <button (click)="onClick()" type="button" class="btn btn-warning mt-3">Pagar ahora</button>
    </div>
  </div>
</div>



</div>







<section class="food_section layout_padding-bottom" *ngIf="listShoppingCar.length > 0">  
  
  <button (click)="emptyShoppingCar()"class="floating-button">Vaciar mi carrito
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-x-fill" viewBox="0 0 16 16">
      <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0M7.354 5.646 8.5 6.793l1.146-1.147a.5.5 0 0 1 .708.708L9.207 7.5l1.147 1.146a.5.5 0 0 1-.708.708L8.5 8.207 7.354 9.354a.5.5 0 1 1-.708-.708L7.793 7.5 6.646 6.354a.5.5 0 1 1 .708-.708z"/>
    </svg>
  </button>



  <div class="container">
    <div class="heading_container heading_center">
      <h2>
        Carrito de compras
      </h2>
    </div>
    <div class="filters-content">
      <div class="row grid">
        <div class="col-sm-6 col-lg-4" *ngFor="let item  of listShoppingCar; let i = index" >
          <div class="box">
            <div>
              <div class="img-box">
                <img src="{{item.item.image.url}}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  {{item.item.name}}
                </h5>

                <p>
                  {{item.item.description}}
                </p>

                <p>
                  {{getTotalCantidadProductos()}}
                </p>

                <h6>
                  $ {{item.item.price}} MXN por pieza
                </h6>


                <div class="options">

                  <p>
                    Subtotal: $ {{ calculateSubtotal(item)}} MXN
                  </p>

                  <a  (click)="removeProduct(i)" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                      <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div *ngIf="listShoppingCar.length === 0" style="text-align: center;">
  <h4>El carrito de compras está vacío. Revisa nuestros productos</h4>
  <button class="btn btn-warning" routerLink="/productos" >Revisar productos</button>
  <img src="../../assets/img/carrito_vacio.png" class="img-fluid" alt="Carrito Vacío">
</div>



<app-footer-main></app-footer-main> 