.xd{
    margin-top: 100px; 
    max-width: 1250px;
    /* margin: 0 auto; */
    display: grid;
    gap: 1rem;
    justify-items: center;
    /* justify-content: center; */
    /* align-items: center; */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}


.card{
    padding: 50px;
    align-items: center;
}
.credit-card{
    padding: 50px;
    width: 400px;
    height: 250px;
    border: 1px solid black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* Agrega estos estilos para el botón flotante */
.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #E20D77; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none;
    border-radius: 50%; /* Hace que el botón sea redondo */
    padding: 15px; /* Espaciado interno del botón */
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra del botón */
}

/* Agrega estos estilos para darle efecto al botón al pasar el ratón sobre él */
.floating-button:hover {
    background-color: #b90d63; /* Cambia el color de fondo al pasar el ratón */
}
